<template>
  <div class="legacy-content">
    <h3>Things named after Tesla</h3>
    <h4>Awards</h4>
    <ul>
      <li>The Nikola Tesla Award</li>
    </ul>
    <h4>Enterprises and organizations</h4>
    <ul>
      <li>Tesla, an electrotechnical conglomerate in the former Czechoslovakia</li>
      <li>Tesla, Inc, an American electric car manufacturer</li>
      <li>Nikola Motor Company, an American hydrogen and electric class 8 truck manufacturer</li>
      <li>Ericsson Nikola Tesla, Croatian affiliate of the Swedish telecommunications equipment manufacturer Ericsson</li>
    </ul>
    <h4>Schools</h4>
    <ul>
      <li>Tesla STEM High School created in 2012 in Redmond, Washington as a choice school with a focus on STEM subjects. The name was chosen by a student vote
      </li>
    </ul>
  </div>
</template>

<style>
.legacy-content{
  padding: 0 10px;
}
</style>