<template>
  <div class="personal-content">
    <h3>Appearance</h3>
He was head-and-shoulder shot of slender man with dark hair and moustache, dark suit and white-collar shirt
Tesla, aged 34, circa 1890. Photo by Napoleon Sarony
Tesla was 6 feet 2 inches (1.88 m) tall and weighed 142 pounds (64 kg), with almost no weight variance from 1888 to about 1926. His appearance was described by newspaper editor Arthur Brisbane as "almost the tallest, almost the thinnest and certainly the most serious man who goes to Delmonico's regularly".[231][232] He was an elegant, stylish figure in New York City, meticulous in his grooming, clothing, and regimented in his daily activities, an appearance he maintained so as to further his business relationships.[233] He was also described as having light eyes, "very big hands", and "remarkably big" thumbs.[231]

    <h3>Eidetic memory</h3>
Tesla read many works, memorizing complete books, and supposedly possessed a photographic memory.

<h3>Relationships</h3>
Tesla never married, explaining that his chastity was very helpful to his scientific abilities.Tesla chose to never pursue or engage in any known relationships, instead finding all the stimulation he needed in his work.
Tesla was asocial and prone to seclude himself with his work.
    <h3>Work habits</h3>
Tesla worked every day from 9:00 a.m. until 6:00 p.m. or later, with dinner at exactly 8:10 p.m., at Delmonico's restaurant and later the Waldorf-Astoria Hotel.
In an interview with newspaper editor Arthur Brisbane, Tesla said that he did not believe in telepathy, stating, "Suppose I made up my mind to murder you," he said, "In a second you would know it. Now, isn't that wonderful? By what process does the mind get at all this?" In the same interview, Tesla said that he believed that all fundamental laws could be reduced to one.[231]

  </div>
</template>

<script>
export default {
    name: "contact"
}
</script>

<style scoped>
.personal-content{
  padding: 0 10px;
}
</style>