<template>
    <modal name="customer-table" :clickToClose = false>
        <table id="t01">
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email Id</th>
            </tr>
            <tr v-for="list in customers" :key="list.id">
                <td>{{list.name}}</td>
                <td>{{list.phone}}</td>
                <td>{{list.email}}</td>
            </tr>
        </table>
    </modal>
</template>

<script>
import {fetchCustomers} from '../services/customer-service.js';
export default {
    data() {
        return {
            customers: [],
        }
    },

    name: "customers",
    methods: {
        show() {
            this.$modal.show("customer-table");
        },
        fetchCustomerData() {
            fetchCustomers().then(response => {
                console.log(response.data);
                this.customers = response.data;
            }).catch(error => {
                console.log(error);
            });
        }
    },
    mounted() {
        this.show();
        this.fetchCustomerData();
    }
}
</script>

<style>
.vm--modal{
    overflow-y: scroll !important;
}
table {
    width:100%;
    color: black;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
#t01 tr:nth-child(even) {
    background-color: #eee;
}
#t01 tr:nth-child(odd) {
    background-color: #fff;
}
#t01 th {
    background-color: black;
    color: white;
}
</style>