<template>
<div class="parent-box">

    <div class="container">
        <div class="header">
            NIKOLA TESLA
        </div>
        <div class="sub-header">
          Nikola Tesla was a Serbian-American inventor, electrical engineer, mechanical engineer,
          and futurist who is best known for his contributions to the design of the modern alternating
          current electricity supply system.
        </div>
        <div class="buttons">
            <button class="learn-more" @click="openModal()" >LEARN MORE</button>
        </div>
    </div>
  <modal name="customer-table" :clickToClose = true :width="setWidth()" :height ="setHeight()">
    <div class="modal-content">
      <h3> This is Nikola Tesla</h3><br>
      Nikola Tesla (/ˈtɛslə/; Serbian Cyrillic: Никола Тесла;[2] pronounced [nǐkola têsla];[a] 10 July 1856 – 7 January 1943) was a Serbian-American[4][5][6] inventor, electrical engineer, mechanical engineer, and futurist who is best known for his contributions to the design of the modern alternating current (AC) electricity supply system.[7]
      Born and raised in the Austrian Empire, Tesla studied engineering and physics in the 1870s without receiving a degree, and gained practical experience in the early 1880s working in telephony and at Continental Edison in the new electric power industry. In 1884 he emigrated to the United States, where he became a naturalized citizen. He worked for a short time at the Edison Machine Works in New York City before he struck out on his own. With the help of partners to finance and market his ideas, Tesla set up laboratories and companies in New York to develop a range of electrical and mechanical devices. His alternating current (AC) induction motor and related polyphase AC patents, licensed by Westinghouse Electric in 1888, earned him a considerable amount of money and became the cornerstone of the polyphase system which that company eventually marketed.
    </div>
  </modal>
</div>
</template>

<script>
export default {
name: "homepage",
  data() {
  return {
    isModal: false,
  }
  },
  methods: {
    openModal() {
      this.isModal = true;
      this.show();
    },
    setWidth(){
      return "90%"
    },
    setHeight() {
      return "90%"
    },
    show() {
      this.$modal.show("customer-table");
    },
  }
}
</script>

<style scoped>
.parent-box {
    height: calc(100vh - 90px);
    width: 100%;
    background-size: cover;
    color: #ffffff;
    font-family: sans-serif;
}
.container {
    height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    font-size: 50px;
    font-family: cursive;
}
.sub-header {
    font-size: larger;
    width: 70%;
    text-align: center;
}
.buttons .learn-more{
    color: white;
    background-color: transparent;
    margin: 30px 15px 15px;
    border: 1px solid black;
    outline: none;
    box-shadow: 0 0 5px 0 gray;
    padding: 12px 30px;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}
.vm--modal{
  overflow-y: scroll !important;
  top: 0px;
  left: 5%;
  width: 90%;
  height: 90%;
}
.modal-content{
  color: black;
  padding: 0 10px;
}
</style>