<template>
    <div class="inventions-content">
      <h3>Great Inventions</h3>
      <ul>
        <li>Alternating current</li>
        <li>Induction motor</li>
        <li>Tesla coil</li>
      </ul>
    </div>
</template>
<style>
.inventions-content{
  font-size: 25px;
  padding: 0 10px;
  flex-direction: column;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>