<template>
  <div class="awards-content">
  <h3>Other ideas, awards, and patents</h3>
  <h4>Tesla won numerous medals and awards over this time. They include: </h4>
    <ul>
      <li> Grand Officer of the Order of St. Sava (Serbia, 1892)</li>
      <li>Elliott Cresson Medal (Franklin Institute, USA, 1894)[185]</li>
      <li>Grand Cross of the Order of Prince Danilo I (Montenegro, 1895)[186]</li>
      <li> AIEE Edison Medal (Institute of Electrical and Electronics Engineers, USA, 1917)[187]</li>
      <li> Grand Cross of the Order of St. Sava (Yugoslavia, 1926)[188]</li>
      <li> Cross Cross of the Order of the Yugoslav Crown (Yugoslavia, 1931)</li>
      <li>John Scott Medal (Franklin Institute & Philadelphia City Council, USA, 1934)</li>
      <li>  Grand Cross of the Order of the White Lion (Czechoslovakia, 1937)</li>
      <li>Medal of the University of Paris (Paris, France, 1937)</li>
      <li>The Medal of the University St. Clement of Ochrida (Sofia, Bulgaria, 1939)</li>
    </ul>
  </div>
</template>

<script>
export default {
name: "works"
}
</script>

<style scoped>
.awards-content{
  align-content: center;
  padding: 0 10px;
  font-size: 15px;
}
</style>