<template>
    <div class="main-box">
    <div class="nav-bar">
        <div class="tabs">
            <router-link to="/" class="home" :class="{active: $route.path === '/' }" >Profile</router-link>
            <router-link to="/inventions" class="services" :class="{ active: $route.path === '/inventions' }" >Inventions</router-link>
            <router-link to="/awards" class="work" :class="{ active: $route.path === '/awards' }" >Awards</router-link>
            <router-link to="/personal-life" class="about" :class="{ active: $route.path === '/personal-life'}" >Personal Life</router-link>
            <router-link to="/Legacy-and-honors" class="blog" :class="{ active: $route.path === '/Legacy-and-honors'}" >Legacy and honors</router-link>
        </div>
    </div>
    <router-view>
    </router-view>
    </div>
</template>

<script>

</script>

<style>
.nav-bar {
    width: 100%;
    height: 90px;
    background-color: rgba(156, 156, 156, 0.6);
}
.tabs {
    width: 100%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}
.tabs a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #ffffff;
}
.main-box {
    height: 100vh;
    width: 100%;
    background-image: url("./assets/background-images/profile-background.jpg");
    background-size: cover;
    color: #ffffff;
    font-family: sans-serif;
}
.tabs .active {
    color: yellow;
}
</style>
